:root {

    --priamry-color: #{$priamry-color};
    --priamry-color_dark: #{$priamry-color_dark};
    --priamry-color_darker: #{$priamry-color_darker};
    --priamry-color_contrast-text: #{$priamry-color_contrast-text};

    --secondary-color: #{$secondary-color};
    --secondary-color_dark: #{$secondary-color_dark};
    --secondary-color_darker: #{$secondary-color_darker};
    --secondary-color_contrast-text: #{$secondary-color_contrast-text};

    --danger-color: #{$danger-color};
    --danger-color_dark: #{$danger-color_dark};
    --danger-color_darker: #{$danger-color_darker};
    --danger-color_contrast-text: #{$danger-color_contrast-text};

    --foreground_default: #{$foreground_default};
    --foreground_muted: #{$foreground_muted};
    --foreground_subtle: #{$foreground_subtle};

    --background_default: #{$background_default};
    --background_subtle: #{$background_subtle};
    --background_inset: #{$background_inset};

    --border_default: #{$border_default};

    --state_hover: #{$state_hover};
    --state_active: #{$state_active};
    --state_transition: .25s ease-in-out 0s;

    --button_color: var(--foreground_default);
    --button_background-color: var(--background_subtle);
    --button_background-color_hover: var(--state_hover);
    --button_background-color_active: var(--state_active);

    @media (prefers-color-scheme: dark) {

        --foreground_default: #{$foreground_default_dark};
        --foreground_muted: #{$foreground_muted_dark};
        --foreground_subtle: #{$foreground_subtle_dark};

        --background_default: #{$background_default_dark};
        --background_subtle: #{$background_subtle_dark};
        --background_inset: #{$background_inset_dark};

        --border_default: #{$border_default_dark};

        --state_hover: #{$state_hover_dark};
        --state_active: #{$state_active_dark};
    }

    // outline color based on primary color
    --outline-color: var(--priamry-color);
    --outline-color_transition: .45s ease-in-out 0s;
    --outline-style: solid;
    --outline-width: 2px; 
    --outline-offset: 1px;
    
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --line-height: 1.5;
    --font-size: 1rem;
    --font-weight: 400;

    --padding-x: 0.75rem;
    --padding-y: 0.375rem;

    --border-width: 1px;
    --border-style: solid;
    --border-radius: 0.375rem;
    --border-color_transition: .25s ease-in-out 0s;

    --opacity_disabled: .65;

    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
}

*, 
::after, 
::before {
    box-sizing: border-box;
}

body {
    color: var(--foreground_default);
    background-color: var(--background_default);
}