:root {

    // colors

    --grey-050-color: #FAFAFA;
    --grey-100-color: #F5F5F5;
    --grey-200-color: #EEEEEE;
    --grey-300-color: #E0E0E0;
    --grey-400-color: #BDBDBD;
    --grey-500-color: #9E9E9E;
    --grey-600-color: #757575;
    --grey-700-color: #616161;
    --grey-800-color: #424242;
    --grey-900-color: #212121;

    --light-color: var(--grey-050-color);
    --dark-color: var(--grey-900-color);
    --priamry-color: #2196F3;
    --secondary-color: #607D8B;
    --danger-color: #F44336;
    
    // theme

    --border-color: var(--grey-300-color);

    --body_color: var(--dark-color);
    --body_background-color: var(--grey-050-color);
    
    @media (prefers-color-scheme: dark) {

        --border-color: var(--grey-700-color);

        --body_color: var(--light-color);
        --body_background-color: var(--grey-900-color);
    }

    // outline color based on primary color
    --outline-color: var(--priamry-color);

    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --line-height: 1.5;
    --font-size: 1rem;
    --font-weight: 400;

    --padding-x: 0.75rem;
    --padding-y: 0.375rem;

    --border-width: 1px;
    --border-style: solid;
    --border-radius: 0.375rem;

    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
}

*, 
::after, 
::before {
    box-sizing: border-box;
}

body {
    background-color: var(--body_background-color);
}