

// colors

// $grey-000-color: #FFFFFF;
// $grey-050-color: #FAFAFA;
// $grey-100-color: #F5F5F5;
// $grey-200-color: #EEEEEE;
// $grey-300-color: #E0E0E0;
// $grey-400-color: #BDBDBD;
// $grey-500-color: #9E9E9E;
// $grey-600-color: #757575;
// $grey-700-color: #616161;
// $grey-800-color: #424242;
// $grey-900-color: #212121;

// $grey-000-color: #FFFFFF;
// $grey-050-color: #FAFAFA;
// $grey-100-color: #F5F5F5;
// $grey-200-color: #E5E5E5;
// $grey-300-color: #D4D4D4;
// $grey-400-color: #A3A3A3;
// $grey-500-color: #737373;
// $grey-600-color: #525252;
// $grey-700-color: #404040;
// $grey-800-color: #262626;
// $grey-900-color: #171717;

$grey-000-color: #FFFFFF;
$grey-050-color: #FAFAFA;
$grey-100-color: #F4F4F5;
$grey-200-color: #E4E4E7;
$grey-300-color: #D4D4D8;
$grey-400-color: #A1A1AA;
$grey-500-color: #71717A;
$grey-600-color: #52525B;
$grey-700-color: #3F3F46;
$grey-800-color: #27272A;
$grey-900-color: #18181B;

/*
Foreground Default
Primary color for text and icons in any given interface. It should be used for body content, titles and labels.
*/
$foreground_default: $grey-900-color;

/*
Foreground Muted
Use for content that is secondary or that provides additional context but is not critical to understanding the flow of an interface.
*/
$foreground_muted: $grey-700-color;

/*
Foreground Subtle
Use for placeholder text, icons or decorative foregrounds.
*/
$foreground_subtle: $grey-500-color;

/*
Background Default
Primary background color.
*/
$background_default: $grey-000-color;

/*
Background Subtle
Provides visual rest and contrast against the default background.
*/
$background_subtle: $grey-100-color;

/*
Background Inset
Can be used instead of the default background to create a focal point, such as in conversations or activity feeds.
*/
$background_inset: $grey-200-color;

/*
Border Default
Use to create bounds around content, for example elements inside a card. Default borders are critical to understanding a page layout.
*/
$border_default: $grey-300-color;

/*
Background State Changes
*/
$state_hover: #{$grey-200-color};
$state_active: #{$grey-300-color};

/*
Primary
Main theme color, used for hyperlinks, focus styles, and component and form active states.
*/
$priamry-color: #3B82F6; // 500
$priamry-color_contrast-text: color-contrast($priamry-color, $grey-050-color, $grey-900-color);
$priamry-color_dark: darken($priamry-color, 6%); // #42A5F5; // 400
$priamry-color_darker: darken($priamry-color, 12%); // 600

/*
Secondary
*/
$secondary-color: #64748B; // 500
$secondary-color_contrast-text: color-contrast($secondary-color, $grey-050-color, $grey-900-color);
$secondary-color_dark: darken($secondary-color, 6%); // 400
$secondary-color_darker: darken($secondary-color, 12%); // 600

/*
Danger
*/
$danger-color: #EF4444; // 500
$danger-color_contrast-text: color-contrast($danger-color, $grey-050-color, $grey-900-color);
$danger-color_dark: darken($danger-color, 6%); // 400
$danger-color_darker: darken($danger-color, 12%); // 600

