/*
Foreground Default
Primary color for text and icons in any given interface. It should be used for body content, titles and labels.
*/
$foreground_default_dark: $grey-050-color;

/*
Foreground Muted
Use for content that is secondary or that provides additional context but is not critical to understanding the flow of an interface.
*/
$foreground_muted_dark: $grey-300-color;

/*
Foreground Subtle
Use for placeholder text, icons or decorative foregrounds.
*/
$foreground_subtle_dark: $grey-600-color;

/*
Background Default
Primary background color.
*/
$background_default_dark: $grey-900-color;

/*
Background Subtle
Provides visual rest and contrast against the default background.
*/
$background_subtle_dark: $grey-800-color;

/*
Background Inset
Can be used instead of the default background to create a focal point, such as in conversations or activity feeds.
*/
$background_inset_dark: $grey-700-color;

/*
Border Default
Use to create bounds around content, for example elements inside a card. Default borders are critical to understanding a page layout.
*/
$border_default_dark: $grey-600-color;

/*
Border Muted
Use for dividers to emphasize the separation between items, columns or sections.
*/
$border_muted_dark: $grey-500-color;

