$btn_color:                                             #000;
$btn_background-color:                                  rgb(255, 255, 255, 1);
$btn_background-color_hover:                            rgb(0, 0, 0, .1);
$btn_background-color_active:                           rgb(0, 0, 0, .20);
$btn_border-color:                                      rgb(0, 0, 0, .1);
$btn_outline-color_focus-visible:                       rgb(0, 0, 0, .25);

$primary-color:                                         #0d6efd;

$btn_primary_color:                                     #FFF;
$btn_primary_background-color:                          $primary-color;
$btn_primary_background-color_hover:                    lighten($primary-color, 10);
$btn_primary_background-color_active:                   darken($primary-color, 10);
$btn_primary_border-color:                              transparent;
$btn_primary_outline-color_focus-visible:               lighten($primary-color, 20);

$btn_primary_outline_color:                             $primary-color;
$btn_primary_outline_background-color:                  transparent;
$btn_primary_outline_background-color_hover:            lighten($primary-color, 42);
$btn_primary_outline_background-color_active:           lighten($primary-color, 30);
$btn_primary_outline_border-color:                      $primary-color;
$btn_primary_outline_outline-color_focus-visible:       lighten($primary-color, 20);

$btn_primary_text_color:                                $primary-color;
$btn_primary_text_background-color:                     transparent;
$btn_primary_text_background-color_hover:               lighten($primary-color, 42);
$btn_primary_text_background-color_active:              lighten($primary-color, 30);
$btn_primary_text_border-color:                         transparent;
$btn_primary_text_outline-color_focus-visible:          lighten($primary-color, 20);

:root {

    --btn_color: #{$btn_color};
    --btn_background-color: #{$btn_background-color};
    --btn_background-color_hover: #{$btn_background-color_hover};
    --btn_background-color_active: #{$btn_background-color_active};
    --btn_border-color: #{$btn_border-color};
    --btn_outline-color_focus-visible: #{$btn_outline-color_focus-visible};

    --btn_primary_color: #{$btn_primary_color};
    --btn_primary_background-color: #{$btn_primary_background-color};
    --btn_primary_background-color_hover: #{$btn_primary_background-color_hover};
    --btn_primary_background-color_active: #{$btn_primary_background-color_active};
    --btn_primary_border-color: #{$btn_primary_border-color};
    --btn_primary_outline-color_focus-visible: #{$btn_primary_outline-color_focus-visible};

    --btn_primary_outline_color: #{$btn_primary_outline_color};
    --btn_primary_outline_background-color: #{$btn_primary_outline_background-color};
    --btn_primary_outline_background-color_hover: #{$btn_primary_outline_background-color_hover};
    --btn_primary_outline_background-color_active: #{$btn_primary_outline_background-color_active};
    --btn_primary_outline_border-color: #{$btn_primary_outline_border-color};
    --btn_primary_outline_outline-color_focus-visible: #{$btn_primary_outline_outline-color_focus-visible};

    --btn_primary_text_color: #{$btn_primary_text_color};
    --btn_primary_text_background-color: #{$btn_primary_text_background-color};
    --btn_primary_text_background-color_hover: #{$btn_primary_text_background-color_hover};
    --btn_primary_text_background-color_active: #{$btn_primary_text_background-color_active};
    --btn_primary_text_border-color: #{$btn_primary_text_border-color};
    --btn_primary_text_outline-color_focus-visible: #{$btn_primary_text_outline-color_focus-visible};

    --font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --line-height: 1.5;
    --font-size: 1rem;
    --font-weight: 400;

    --padding-x: 0.75rem;
    --padding-y: 0.375rem;

    --border-color: var(--primary-color);
    --border-width: 1px;
    --border-style: solid;
    --border-radius: 0.375rem;
    
}

.btn {

    font-family: var(--font-sans-serif);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);

    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: var(--padding-y) var(--padding-x);
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    position: relative;

    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--btn_border-color);

    border-radius: var(--border-radius);

    text-transform: none;
    user-select: none;
    outline: transparent solid 2px;
    cursor: pointer;

    transition: 
        background-color .15s ease-in-out 0s,
        outline-color .35s ease-in-out 0s;

    &:disabled {
        opacity: 0.65;
        cursor: auto;
    }

    background-color: var(--btn_background-color);
    color: var(--btn_color);

    &.primary {
        border-color: var(--btn_primary_border-color);
        background-color: var(--btn_primary_background-color);
        color: var(--btn_primary_color);
    }
    
    &:focus-visible:not(:disabled) {

        outline-style: solid;
        outline-width: 2px;
        outline-offset: 1px;

        outline-color: var(--btn_outline-color_focus-visible);
        background-color: var(--btn_background-color_hover);

        &.primary {
            outline-color: var(--btn_primary_outline-color_focus-visible);
            background-color: var(--btn_primary_background-color_hover);
        }

    }

    &:hover:not(:disabled) {

        background-color: var(--btn_background-color_hover);

        &.primary {
            background-color: var(--btn_primary_background-color_hover);
        }

    }

    &:active:not(:disabled) {

        outline-color: transparent;

        background-color: var(--btn_background-color_active);

        &.primary {
            background-color: var(--btn_primary_background-color_active);
        }
    }

    & > span.ripple {
        position: absolute;
        border-radius: 50%;
        transform: scale(0);
        animation: ripple 1000ms linear;
        background-color: rgb(255, 255, 255);
        opacity: 0.5;
    }
    
    &.outline {

        border-width: var(--border-width);
        border-style: solid;

        border-color: var(--btn_outline_border-color);
        background-color: var(--btn_outline_background-color);
        color: var(--btn_outline_color);

        &.primary {
            border-color: var(--btn_primary_outline_border-color);
            background-color: var(--btn_primary_outline_background-color);
            color: var(--btn_primary_outline_color);
        }

        &:focus-visible:not(:disabled) {   
            
            background-color: var(--btn_outline_background-color_hover);

            &.primary {
                background-color: var(--btn_primary_outline_background-color_hover);
            }
            
        }

        &:hover:not(:disabled) {

            background-color: var(--btn_outline_background-color_hover);

            &.primary {
                background-color: var(--btn_primary_outline_background-color_hover);
            }
            
        }

        &:active:not(:disabled) {

            background-color: var(--btn_outline_background-color_active);

            &.primary {
                background-color: var(--btn_primary_outline_background-color_active);
            }
            
        }

        & > span.ripple {
            background-color: var(--primary-color);
        }

    }

    &.text {

        border-width: var(--border-width);
        border-style: solid;

        border-color: var(--btn_text_border-color);
        background-color: var(--btn_text_background-color);
        color: var(--btn_text_color);

        &.primary {
            border-color: var(--btn_primary_text_border-color);
            background-color: var(--btn_primary_text_background-color);
            color: var(--btn_primary_text_color);
        }

        &:focus-visible:not(:disabled) {   
            
            background-color: var(--btn_text_background-color_hover);

            &.primary {
                background-color: var(--btn_primary_text_background-color_hover);
            }

        }
        
        &:hover:not(:disabled) {

            border-color: var(--btn_text_border-color);
            background-color: var(--btn_text_background-color_hover);

            &.primary {
                border-color: var(--btn_primary_text_border-color);
                background-color: var(--btn_primary_text_background-color_hover);
            }
            
        }

        &:active:not(:disabled) {

            background-color: var(--btn_text_background-color_active);

            &.primary {
                background-color: var(--btn_primary_text_background-color_active);
            }
            
        }

        & > span.ripple {
            background-color: var(--btn_primary_text_background-color);
        }

    }

}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}