.button {

    --h: var(--default-h);
    --s: var(--default-s);
    --l: var(--default-l);

    // make values with percentage unit
    --s-percent: calc(var(--s) * 1%);
    --l-percent: calc(var(--l) * 1%);

    --button_background-color: hsl(var(--h), var(--s-percent), var(--l-percent));
    --button_border-color: hsl(var(--h), var(--s-percent), var(--l-percent));
    
    --threshold: 70;
    --switch: calc((var(--l) - var(--threshold)) * -100%);
    --button_color: hsl(0, 0%, var(--switch));
    
    --button_background-color_hover: hsl(var(--h), var(--s-percent), calc(var(--l-percent) + +5%));

    --button_background-color_active: hsl(var(--h), var(--s-percent), calc(var(--l-percent) + -7.5%));

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-flex;
    align-items: center;
    
    margin: 0;
    padding: var(--padding-y) var(--padding-x);
    vertical-align: middle;
    text-align: center;

    border-width: var(--border-width);
    border-style: solid;

    border-radius: var(--border-radius);

    text-transform: none;
    user-select: none;
    cursor: pointer;
    text-decoration: none;

    outline-color: transparent;
    outline-style: solid;
    outline-width: 2px; 
    outline-offset: 1px;

    transition:
        color .15s ease-in-out 0s,
        background-color .15s ease-in-out 0s,
        border-color .15s ease-in-out 0s,
        outline-color .35s ease-in-out 0s;

    &:has(> svg, > i) {

        & > span:last-child {
            margin-inline-start: 0.375rem;
        }

        & > span:first-child {
            margin-inline-end: 0.375rem;
        }
        
    }

    &:disabled,
    &.disabled {
        opacity: 0.65;
        cursor: auto;
    }

    &.primary {
        --h: var(--priamry-h);
        --s: var(--priamry-s);
        --l: var(--priamry-l);
    }

    &.secondary {
        --h: var(--secondary-h);
        --s: var(--secondary-s);
        --l: var(--secondary-l);
    }

    &.danger {
        --h: var(--danger-h);
        --s: var(--danger-s);
        --l: var(--danger-l);
    }

    border-color: transparent;
    background-color: var(--button_background-color);
    color: var(--button_color);

    &.outline {
        
        color: var(--dark-color);

        &.primary {
            color: var(--button_background-color);
        }

        &.secondary {
            color: var(--button_background-color);
        }

        &.danger {
            color: var(--button_background-color);
        }

        &:is([class*='custom-color']) {
            color: var(--button_background-color);
        }

        border-color: currentColor;
        background-color: transparent;
    }

    &.text {
        
        color: var(--dark-color);

        &.primary {
            color: var(--button_background-color);
        }

        &.secondary {
            color: var(--button_background-color);
        }

        &.danger {
            color: var(--button_background-color);
        }

        &:is([class*='custom-color']) {
            color: var(--button_background-color);
        }

        border-color: transparent;
        background-color: transparent;
    }

    &:hover:not(:disabled, .disabled) {
        background-color: var(--button_background-color_hover);
        color: var(--button_color);
    }

    &:focus-visible:not(:disabled, .disabled) {
        outline-color: var(--outline-color);
        background-color: var(--button_background-color_hover);
        color: var(--button_color);
    }

    &:active:not(:disabled, .disabled) {
        background-color: var(--button_background-color_active);
        color: var(--button_color);
    }

}