.button {

    --default-h: 0;
    --default-s: 0;
    --default-l: 88;

    --threshold: 70;
    --switch: calc((var(--default-l) - var(--threshold)) * -100000%);
    --button_color: hsl(0, 0%, var(--switch));
    
    // make values with percentage unit
    --default-s-percent: calc(var(--default-s) * 1%);
    --default-l-percent: calc(var(--default-l) * 1%);

    --button_background-color: hsl(var(--default-h), var(--default-s-percent), var(--default-l-percent));
    
    --button_background-color_hover_amount: +5%;
    --button_background-color_hover: hsl(var(--default-h), var(--default-s-percent), calc(var(--default-l-percent) + var(--button_background-color_hover_amount)));

    --button_background-color_active_amount: -7.5%;
    --button_background-color_active: hsl(var(--default-h), var(--default-s-percent), calc(var(--default-l-percent) + var(--button_background-color_active_amount)));

    --button_border-color: var(--button_background-color);

    --button_background-color_focus-visible_amount: -5%;
    --button_outline-color_focus-visible: hsl(var(--default-h), var(--default-s-percent), calc(var(--default-l-percent) + var(--button_background-color_focus-visible_amount)), 0.5);

    @media (prefers-color-scheme: dark) {
        --default-h: 0;
        --default-s: 0;
        --default-l: 38;
    }

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-flex;
    align-items: center;
    
    margin: 0;
    padding: var(--padding-y) var(--padding-x);
    vertical-align: middle;
    text-align: center;

    border-width: var(--border-width);
    border-style: solid;

    border-radius: var(--border-radius);

    text-transform: none;
    user-select: none;
    cursor: pointer;
    text-decoration: none;

    outline-color: transparent;
    outline-style: solid;
    outline-width: 2px; 
    outline-offset: 1px;

    transition:
        color .15s ease-in-out 0s,
        background-color .15s ease-in-out 0s,
        border-color .15s ease-in-out 0s,
        outline-color .35s ease-in-out 0s;

    &:has(> svg, > i) {

        & > span:last-child {
            margin-inline-start: 0.375rem;
        }

        & > span:first-child {
            margin-inline-end: 0.375rem;
        }
        
    }

    &:disabled,
    &.disabled {
        opacity: 0.65;
        cursor: auto;
    }

    &.primary {
        --default-h: var(--priamry-h);
        --default-s: var(--priamry-s);
        --default-l: var(--priamry-l);
    }

    &.secondary {
        --default-h: var(--secondary-h);
        --default-s: var(--secondary-s);
        --default-l: var(--secondary-l);
    }

    &.danger {
        --default-h: var(--danger-h);
        --default-s: var(--danger-s);
        --default-l: var(--danger-l);
    }

    border-color: transparent;
    background-color: var(--button_background-color);
    color: var(--button_color);

    &.outline {
        border-color: var(--button_border-color);
        background-color: transparent;
        color: var(--dark-color);

        &.primary {
            color: var(--button_background-color);
        }

        &.secondary {
            color: var(--button_background-color);
        }

        &.danger {
            color: var(--button_background-color);
        }

        &:is([class*='custom-color']) {
            color: var(--button_background-color);
        }
    }

    &.text {
        border-color: transparent;
        background-color: transparent;
        color: var(--dark-color);

        &.primary {
            color: var(--button_background-color);
        }

        &.secondary {
            color: var(--button_background-color);
        }

        &.danger {
            color: var(--button_background-color);
        }

        &:is([class*='custom-color']) {
            color: var(--button_background-color);
        }
    }

    &:hover:not(:disabled, .disabled) {
        background-color: var(--button_background-color_hover);
        color: var(--button_color);
    }

    &:focus-visible:not(:disabled, .disabled) {
        outline-color: var(--button_outline-color_focus-visible);
        background-color: var(--button_background-color_hover);
        color: var(--button_color);
    }

    &:active:not(:disabled, .disabled) {
        background-color: var(--button_background-color_active);
        color: var(--button_color);
    }

}