.radio,
.checkbox {
    
    --choice_color: var(--body_color);
    --choice_border-color: var(--border-color);
    --choice_background-color: var(--body_background-color);
    
    --choice_outline-color_focus: var(--outline-color);

    --choice_border-width: var(--border-width);
    --choice_border-style: var(--border-style);
    --choice_border-radius: 0;

    &[type="checkbox"] {
        --choice_border-radius: 0.25rem;
    }
    
    &[type="radio"] {
        --choice_border-radius: 9999px;
    }

    --choice_vertical-align: top;
    --choice_margin: .25rem 0 0 0;
    --choice_margin-inline-end: 0.375rem;

    --choice_transition:
        background-color .25s ease-in-out 0s,
        border-color var(--border-color_transition),
        outline-color var(--outline-color_transition);

    --choice_background-image: none;
    --checkbox_background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'><polyline points='18 8 10 17 6 13'></polyline></svg>");
    --radio_background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff' stroke='none' stroke-width='0' stroke-linecap='round' stroke-linejoin='round' class='feather feather-circle'><circle cx='12' cy='12' r='8'></circle></svg>");
    
    --choice_background-color_checked: var(--priamry-color);
    --choice_border-color_checked: var(--priamry-color);

    --choice_opacity_disabled: var(--opacity_disabled);



    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;
    appearance: none;
    width: 1rem;
    height: 1rem;
    padding: 0;

    margin: var(--choice_margin);
    vertical-align: var(--choice_vertical-align);
    margin-inline-end: var(--choice_margin-inline-end);

    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;

    background-image: var(--choice_background-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    border-color: var(--choice_border-color);
    border-width: var(--choice_border-width);
    border-style: var(--choice_border-style);
    border-radius: var(--choice_border-radius);

    outline-color: transparent;
    outline-style: var(--outline-style);
    outline-width: var(--outline-width); 
    outline-offset: var(--outline-offset);
    
    transition: var(--choice_transition);

    color: var(--choice_color);
    background-color: var(--choice_background-color);

    &:focus {
        outline-color: var(--choice_outline-color_focus);
    }

    &:checked {
        background-color: var(--choice_background-color_checked);
        border-color: var(--choice_border-color_checked);

        &[type="checkbox"] {
            background-image: var(--checkbox_background-image);
        }
    
        &[type="radio"] {
            background-image: var(--radio_background-image);
        }
    }

    &:disabled {
        opacity: var(--choice_opacity_disabled);
    }

}