.input {
    
    --input_color: var(--body_color);
    --input_border-color: var(--border-color);
    --input_background-color: var(--body_background-color);

    &.danger {
        --input_border-color: var(--danger-color);
    }

    --input_padding: var(--padding-y) var(--padding-x);

    --input_text-align: start;

    --input_border-width: var(--border-width);
    --input_border-style: var(--border-style);
    --input_border-radius: var(--border-radius);

    --input_transition:
        border-color var(--border-color_transition),
        outline-color var(--outline-color_transition);

    --input_opacity_disabled: var(--opacity_disabled);
    --input_background-color_disabled: var(--grey-200-color);
    @media (prefers-color-scheme: dark) {
        --input_background-color_disabled: var(--grey-800-color);
    }



    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-flex;
    appearance: none;
    width: 100%;

    // https://8yd.no/article/date-input-height-in-safari
    &::-webkit-datetime-edit {
        padding: 0;
        margin-bottom: -2px;
    }

    margin: 0;
    padding: var(--input_padding);
    text-align: var(--input_text-align);

    border-width: var(--input_border-width);
    border-style: var(--input_border-style);
    border-radius: var(--input_border-radius);

    outline-color: transparent;
    outline-style: var(--outline-style);
    outline-width: var(--outline-width); 
    outline-offset: var(--outline-offset);
    
    transition: var(--input_transition);

    // Placeholder
    &::placeholder {
        color: var(--placeholder_color);
    }

    color: var(--input_color);
    border-color: var(--input_border-color);
    background-color: var(--input_background-color);

    &:focus-visible:not(:disabled) {
        outline-color: var(--outline-color);
    }

    &:disabled {
        opacity: var(--input_opacity_disabled);
        background-color: var(--input_background-color_disabled);
    }

    // File input buttons theming
    &::file-selector-button {
        padding: 1rem;
        margin: -1rem;
        margin-inline-end: var(--padding-x);
        color: var(--default-button_color);
        background-color: var(--default-button_background-color);
        border: none;
        transition: var(--default-button_transition);
    }

    &:hover:not(:disabled):not([readonly])::file-selector-button {
        background-color: var(--default-button_background-color_hover);
    }

    &:active:not(:disabled):not([readonly])::file-selector-button {
        background-color: var(--default-button_background-color_active);
    }

    &::-webkit-calendar-picker-indicator {
        filter: invert(50%);
    }

    &::-ms-reveal {
        filter: invert(50%);
    }

}