.input {

    --h: var(--default-h);
    --s-percent: calc(var(--default-s) * 1%);
    --l-percent: calc(var(--default-l) * 1%);
    
    --input_border-color: hsl(var(--h), var(--s-percent), var(--l-percent));
    --input_background-color: var(--light-color);
    

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;
    width: 100%;

    margin: 0;
    padding: var(--padding-y) var(--padding-x);
    text-align: start;
    vertical-align: middle;

    border-width: var(--border-width);
    border-style: solid;

    border-radius: var(--border-radius);

    outline-color: transparent;
    outline-style: solid;
    outline-width: 2px; 
    outline-offset: 1px;
    
    transition:
        border-color .15s ease-in-out 0s,
        outline-color .35s ease-in-out 0s;

    color: var(--dark-color);
    border-color: var(--input_border-color);
    // background-color: var(--input_background-color);

    &:focus-visible:not(:disabled) {
        outline-color: var(--outline-color);
    }

    &:disabled {
        opacity: 0.3;
    }

}