.input {
    
    --input_color: var(--dark-color);
    --input_border-color: var(--border-color);
    --input_background-color: var(--white-color);
    
    @media (prefers-color-scheme: dark) {
        --input_color: var(--light-color);
        --input_border-color: var(--border-color);
        --input_background-color: var(--black-color);
    }

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;
    width: 100%;
    appearance: none;
    resize: vertical;

    margin: 0;
    padding: var(--padding-y) var(--padding-x);
    text-align: start;

    border-width: var(--border-width);
    border-style: solid;

    border-radius: var(--border-radius);

    outline-color: transparent;
    outline-style: solid;
    outline-width: 2px; 
    outline-offset: 1px;
    
    transition:
        border-color .15s ease-in-out 0s,
        outline-color .35s ease-in-out 0s;

    color: var(--input_color);
    border-color: var(--input_border-color);
    background-color: var(--input_background-color);

    &:focus-visible:not(:disabled) {
        outline-color: var(--outline-color);
    }

    &:disabled {
        opacity: 0.65;
    }

}