.select {
    
    --select_color: var(--body_color);
    --select_border-color: var(--border-color);
    --select_background-color: var(--body_background-color);

    &:disabled {
        --select_background-color: var(--body-secondary_background-color);
    }
    
    &.danger {
        --select_border-color: var(--danger-color);
    }

    --select_background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'><polyline points='18 10 12 16 6 10'></polyline></svg>");
    @media (prefers-color-scheme: dark) {
        --select_background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'><polyline points='18 10 12 16 6 10'></polyline></svg>");
    }


    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-flex;
    appearance: none;
    width: 100%;

    margin: 0;
    padding: var(--padding-y) var(--padding-x);
    padding-inline-end: 2.5rem;

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-radius: var(--border-radius);

    outline-color: transparent;
    outline-style: var(--outline-style);
    outline-width: var(--outline-width); 
    outline-offset: var(--outline-offset);
    
    transition: 
        border-color var(--border-color_transition),
        outline-color var(--outline-color_transition);

    background-image: var(--select_background-image);
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    background-position: right .5rem center;
    [dir="rtl"] & {
        background-position: left .5rem center;
    }

    color: var(--select_color);
    border-color: var(--select_border-color);
    background-color: var(--select_background-color);

    &:focus-visible:not(:disabled) {
        outline-color: var(--outline-color);
    }
    
    &:hover:not(:disabled):not([readonly])::file-selector-button {
        background-color: var(--default-button_background-color_hover);
    }

    &:disabled {
        opacity: var(--opacity_disabled);
    }

}